<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>购买</title>
    <link rel="stylesheet" href="../red-packet/css/main.min.css">
    <link rel="stylesheet" type="text/css" href="../css/lib/commontop.css" />
    <link rel="stylesheet" type="text/css" href="../bcss/buy/buy.css?v=3.3.9" />
    <link rel="stylesheet" type="text/css" href="../bcss/commonmain.css" />

</head>
<body>
    <div class="body">
        <div class="buy" id="bugVm" v-cloak>

        <!-- top-left -->
        <div class="buyTop fulid">
        <div class="readTopLeft"> 
            <!--<div class="buyIcon1"></div> -->
            <div class="buyLeftBox"> 
                <div class="buyContent1"> 

                    <div class="buy0"> 
                        <div class="buyTitle" style="font-size:42px;">
                        <span v-if="orderTypeData.prodType == 1">{{orderTypeData.minRate}}<span style="font-size:24px;">%</span>-
                        <span >{{orderTypeData.maxRate}}<span style="font-size:24px;">%</span></span></span>
                        <span v-else><span>{{regularRate + privilege*1}}<span style="font-size:24px;">%</span></span><span class="addrate11" style="font-size: 15px"></span></span>
                      <!--   <span v-if="orderTypeData.prodType != 1 && orderTypeData.addRate != 0">{{orderTypeData.addRate}}<span style="font-size:24px;">%</span></span> -->
                        </div> 
                        <div class="buyText">历史年化收益率</div> 
                    </div> 
                    <div class="buy1"> 
                        <div class="buyTitle">  {{orderTypeData.investTerm}}  </div> 
                        <div class="buyText">投资期限</div> 
                    </div> 
                    <div class="buy2"> 
                        <div class="buyTitle">{{orderTypeData.canBuyAmt}}元 </div> 
                        <div class="buyText">可投金额</div> 
                    </div>
                </div> 
                <div class="buyIconText" style="width: auto;height: 26px" v-if="orderTypeData.prodType == 1 ">
                    <img src="../bimages/buy/current.png" />
                </div> 

                <div class="buyIconText" style="width: auto;height: 30px" v-if="orderTypeData.prodType == 5 || orderTypeData.prodType == 6">
                    <img style="height: 30px;" src="../bimages/buy/newpeople.png" />
                </div> 

                <div class="buyIconText" style="width: auto;height: 30px" v-if="orderTypeData.prodType == 3">
                    <img style="height: 30px;" src="../bimages/buy/regular.png" />
                </div>  
            </div> 
        </div> 
            <!-- 右半部分 -->
        <div class="readTopRight fulid">
            <div class="readTopRight-title regular" v-if="orderTypeData.prodType == 3">购买{{orderTypeData.investTerm}}</div>
            <div class="readTopRight-title newHand" v-if="orderTypeData.prodType == 5 ">购买新手标</div>
            <div class="readTopRight-title newHand" v-if="orderTypeData.prodType == 6 ">购买{{orderTypeData.prodTitle}}</div>
             <div class="readTopRight-title current" v-if="orderTypeData.prodType == 1">购买周周涨</div>

            <div class="buyRightContent fulid">
              <!-- _buyListData.buyDiv  -->
                <div class="buyDiv"> 
                    <div class="buyDiv1">账户余额（元）:</div> 
                    <div class="buyDiv2">
                        <a href="javascript:;" class="login" v-if="userId">{{userData.accountAmt | number(2) | comdify}}</a>
                        <a href="javascript:;" class="login" v-if="!userId" v-on:click='login()' style="color:#1b6bff;">登录后可查询余额</a>
                    </div>
                    <div class="buyDiv3"><a href="/wdindex/bpage/account.html?formPages=02">充值</a></div>
                </div> 
                <div class="buyDiv"> 
                    <div class="buyDiv1">投资金额（元）: </div>
                    <div class="buyDiv2">
                        <input type="number" v-if='orderTypeData.prodType != 5 && orderTypeData.prodType != 6' class="money" :placeholder="placeholder" v-model="money" onKeyPress="if (event.keyCode!=46 && event.keyCode!=45 && (event.keyCode<48 || event.keyCode>57)) event.returnValue=false"/>
                        <input type="number" v-if='orderTypeData.prodType == 5 || orderTypeData.prodType == 6' class="money" placeholder="请输入100的整数倍" v-model="money" onKeyPress="if (event.keyCode!=46 && event.keyCode!=45 && (event.keyCode<48 || event.keyCode>57)) event.returnValue=false"/>
                    </div>
                    <div class="buyDiv3" :style="style"><a href="javascript:;" v-on:click='buyClick()'>全额购买</a></div>
                </div> 


                <div class="buyDiv" v-if="orderTypeData.prodType == 1 ">
                    <div class="buyDiv1" >每月收益（元）: </div>
                    <div class="buyDiv2" v-if="money != ''">{{orderTypeData.minRate/100*money/365 * 30| number(2) }}</div>
                    <!-- <div class="buyDiv2" v-if="money != ''">{{money*7/365*0.0888 | number(2) }}</div> -->
                    <div class="buyDiv2" v-if="money == ''">0.00</div>
                </div> 
                <div class="buyDiv" v-if="orderTypeData.prodType == 5 || orderTypeData.prodType == 3 || orderTypeData.prodType == 6 ">
                    <div class="buyDiv1">预期收益（元）: </div>
                     <div class="buyDiv2" v-if="money != ''">{{((percent*money/100) + (couponGentle)) | number(2)}} </div><!--<span class="coupon-moneySpan" v-if='couponGentle != 0'>+{{couponGentle | abs | number(2) }}</span></div>-->
                    <div class="buyDiv2" v-if="money == ''">0.00</div>
                </div>
                <div class="buyDiv" :style="style" v-show="active">
                    <div class="buyDiv1" style="width:60px;">优惠券: </div>
                    <a href="javascript:;">
                        <!-- <div class="addCardVoucher" v-if='couponSize == 0 && couponSize != ""'>未使用</div> -->
                        <div class="addCardVoucher"  v-on:click="couponDIVClose(1)" v-bind:class="{ isCouponBg : isMayCoupon}">{{couponSize}}</div>
                    </a>
                    <!--<a href="javascript:;">-->
                        <!--<div class="buyIcon">?</div>-->
                    <!--</a>-->
                    <!--  <a href="javascript:;">
                        <div class="addCardVoucher" :class="{ isCouponBg : isStopCoupon}">已使用</div>
                    </a> -->
                    <!--<div class="buyDetail" style="width:300px;height:30px;overflow:hidden;">-->
                        <!--<div class="buyDetails"  style="position:absolute;left:280px;height:30px;line-height:30px;width:auto;white-space: nowrap;">除天数加息券外，不同类型的奖励不可同时使用，且天数加息券可无限使用，但用券天数不能超过本金投资期限</div>-->
                     <!--</div>-->
                    <!-- <marquee style="display:none; position: absolute;padding:0 10px;background: #cccccc;border-radius: 5px;line-height: 30px;font-size: 12px;color: #555555;top:40px;right:100px;z-index:555;" behavior='scroll' loop="infinite" direction=left width="300" height="30" bgcolor=#ccffff><P align=center>除天数加息券外，不同类型的奖励不可同时使用，且天数加息券可无限使用，但用券天数不能超过本金投资期限</P></marquee> -->
                </div>
                <div class="buyDiv" v-if="orderTypeData.prodType == 3 ">
                    <div class="buyDiv1">综合年化</div>
                    <div class="buyDiv2" style="width: 250px"> {{regularRate + privilege*1 | number(2)}}% <span class="actrate11" v-if="actrate11 != 0" style="font-size: 15px">+{{actrate11}}%</span><span class="actrate2 actrate02" style="font-size: 15px"></span><span class="actrate2 actrate03" style="font-size: 15px"></span></div>
                </div>



                <!--<div class="buyDiv" style="margin-top:68px;" v-if="orderTypeData.prodType == 1 || orderTypeData.prodType == 5 || orderTypeData.prodType == 6"></div>-->
                <div class="buyDiv" v-show="show"><a href="javascript:;"style="color: #1b6bff" @click="activeRule">《活动规则》</a></div>
                <div class="buyDiv4">
                    <a href="javascript:;" v-if="orderTypeData.prodType != 5 && orderTypeData.prodType != 6">
                        <div class="buy-btn" v-on:click="placeOnOrder()" :class="disabled" :message="message" :style="htmlStyle" v-HTML="htmlText">立即抢购</div>
                    </a> 
                    <a href="javascript:;" v-if="orderTypeData.prodType == 5 || orderTypeData.prodType == 6">
                        <div class="buy-btn" v-if="newProd != 0" v-on:click="placeOnOrder()" :buyNewType="buyNewType">立即抢购</div>
                        <div class="buy-btn" v-if="newProd == 0" style="background:#b9b9b9;">已购买</div>
                    </a> 
                    <div class="buy-rule">购买即同意<a href="javascript:;" v-on:click="buyRule()" v-if="orderTypeData.prodType == 1 ">《周周涨产品投资协议》</a><a href="javascript:;" v-on:click="buyRule()" v-if="orderTypeData.prodType != 1 ">《定期产品投资协议》</a></div>
                </div> 
            </div> 
        </div>

        </div>





        <div class="buyBottom">

            <div class="readBottomtTitle">
                <a href="javascript:;" v-if='orderTypeData.prodType == 1 '><div class="readBottom-title1 bclick" :class="{'elect' : tabli == 1,'currentWidth':isCurrent}" style="width: 400px" number=1 v-on:click="tabliClick(1)">收益走向</div></a>
                <a href="javascript:;"><div class="readBottom-title1 bclick" :class="{'elect' : tabli == 2,'regularWidth':isRegular,'currentWidth':isCurrent}"  number=2 v-on:click="tabliClick(2)">资产组合及详情</div></a>
                <a href="javascript:;"><div class="readBottom-title1 bclick" :class="{ 'elect' : tabli == 3, 'regularWidth':isRegular,'currentWidth':isCurrent}"   number=3 v-on:click="tabliClick(3)">产品详情</div></a>
            </div>

            <div class="readBottomContent">
                <div class="earningsBox" v-show="tabli == 1"><img style="width:100%;height: 100% " src="../bimages/buy/buytable.png"/></div>

                <div class="assets" v-show="tabli == 2">
                    <div class="assetsLeft">
                        <div class="assetsLeftTitle">资产组合</div>
                        <div class="assTable" id="assTable"></div>
                    </div>
                    <div class="assetsRight">
                        <div class="assetsRightTitle">资产组合详情</div>
                        <div class="assetdetails">
                            <ul>
                                <li v-for="item in portfolioData">
                                    <div class="liLeft">{{item.loanPurpose}}</div>
                                    <div class="liRight">占比：{{item.eachPercent}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>





                <div class="detail" v-show="tabli == 3">
                <!-- 定期 -->
                    <ul v-if="orderTypeData.prodType != 1">
                        <li class="detailTile">产品说明</li>
                        <li>V金融定期投资标的主要分散在具有高保障系数的小额信贷、消费信贷等多种优质资产，单笔借款金额平均在1万左右，借款人信用良好，高度分散。基于线上和线下的多级风控体系，历史坏账率极低。</li>
                        <li class="detailTile">产品收益</li>
                        <li>每周派息，投资后每7天派息一次（利息可提现，也可复投享受复利收益）,产品到期一次还本。</li>
                        <li class="detailTile">产品期限</li>
                        <li>到期前无法赎回，到期后隔日本金将自动赎回到您的可用余额内。</li>
                    </ul>
                    <!-- 周周涨 -->
                     <ul v-if="orderTypeData.prodType == 1">
                        <li class="detailTile">产品说明</li>
                        <li>V金融周周涨产品灵活赎回，每日结息。投资标的分散在具有高保障系数的小额信贷、消费信贷等多种优质资产。单比借款金额平均在1万元左右。资产组合高度分散，并且基于线上和线下的多级风控体系，历史坏账率极低。</li>
                        <li class="detailTile">产品收益</li>
                        <li>阶梯利率，投资越久，收益越高。基础年化利率为8.88%。每7天增加一个梯度，第一个梯度加0.1%，后面每个梯度再加20%。即0.1%*（1+0.2）。每笔投资都根据上述规则单独计 算利息。</li>
                        <li class="detailTile">产品期限</li>
                        <li>随时赎回，提现最快1分钟到账。</li>
                    </ul>
                </div>
            </div>

        </div>

        <!-- 优惠卷 -->

        <div class='ui-alert backdrop' v-if="couponDIV == 1">
            <div class='dialog-content couponDIV'>
                <div class='coupon-headbg'>我的优惠券</div>
                <!-- 优惠券列表 -->
                <div class="couponList">
                    <div class="coupon" v-for="(item, index) in couponData" v-on:click="couponClick(item,index)" >
                        <div class="coupon-left">
                            <div class="coupon-leftTop">{{item.privilege}}<span v-if="item.type == 1 || item.type == 2">%</span></div>
                            <div class="coupon-leftBottom" v-if="item.type == 1">天数加息券</div>
                            <div class="coupon-leftBottom" v-if="item.type == 2">全程加息券</div>
                            <div class="coupon-leftBottom" v-if="item.type == 3">体验金</div>
                            <div class="coupon-leftBottom" v-if="item.type == 5">投资红包</div>
                            
                        </div>
                        <div class="coupon-right" v-if="item.type == 1 || item.type == 2">
                            <div v-if="item.type != 2">加息天数：{{item.cycleTime}}天</div>
                            <div v-if="item.type == 2">加息天数：全程</div>
                            <div>适用产品：{{item.rule}}</div>
                            <div>有效期：{{item.lifeTimeFrom}}~{{item.lifeTimeEnd}}</div>
                            <img src="../bimages/coupon/invalid-name.png" v-show="item.check" alt="" class="invalidName">
                        </div>
                        <div class="coupon-right" v-if="item.type == 3 || item.type == 5">
                            <div>适用产品：{{item.rule}}</div>
                            <div>有效期：{{item.lifeTimeFrom}}~{{item.lifeTimeEnd}}</div>
                            <img src="../bimages/coupon/invalid-name.png" v-show="item.check" alt="" class="invalidName">
                        </div>
                        <div class="coupon-profit">+{{item.couponId}}</div>

                        <img src="../bimages/coupon/dayCoupon.png" alt="" class="couponImg" v-if="item.type == 1">
                        <img src="../bimages/coupon/quanchengCoupon.png" alt="" class="couponImg" v-if="item.type == 2">
                        <img src="../bimages/coupon/tiyanjinCoupon.png" alt="" class="couponImg" v-if="item.type == 3">
                        <img src="../bimages/coupon/touziCoupon.png" alt="" class="couponImg" v-if="item.type == 5">

                        <img src="../bimages/coupon/noCoupon.png" alt="" class="couponImg" v-if="item.check == false && item.weight != 0 && item.weight > poorCouponWeight">

                        <img src="../bimages/coupon/noCoupon.png" alt="" class="couponImg" v-if="item.check == false && item.weight == 0 && item.cycleTime > (cycle - couponDay)">
                        <!-- 体验金 -->
                         <img src="../bimages/coupon/noCoupon.png" alt="" class="couponImg" v-if="item.check == false && item.weight != 0  && money < item.minUseAmount">

                       
                    </div>
                </div>
                <div class="coupon-bottom">
                    <div class="coupon-couponlayer">注：点击要使用的券即可选中</div>
                    <div class="coupon-money">预期收益（元）：<span class="coupon-moneySpan">{{couponGentle | abs | number(2) }}</span></div>
                    <div class="couponBtn" v-on:click="couponDIVClose(2)">确定</div>
                </div>

                <div class="couponDIV-close" v-on:click="couponDIVClose(0)">X</div>
              
            </div>
        </div>



        </div>
    </div>
</body>
<script type="text/javascript" src="../js/pages/lib/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="../js/pages/lib/doT.min.js?v=9.0.0"></script>
<script type="text/javascript" src="../js/pages/lib/md5.min.js?v=9.0.0"></script>
<script type="text/javascript" src="../js/pages/lib/echarts.js?v=9.0.0"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/commonmain.js?v=3.6.1"></script>
<script type="text/javascript" src="../js/setting.js"></script>
<script type="text/javascript" src="../js/vue.min.js"></script>
<script type="text/javascript" src="../js/commontop.js?v=3.0"></script>
<!-- <script type="text/javascript" src="../js/pages/buy/buy.js?v=4.0.0"></script> -->
<script type="text/javascript" src="../js/pages/buy/buy.js?v=4.2.11"></script>
</html>