/*reset*/
body,dl,dd{margin: 0;font-family: '微软雅黑';font-size: 0;
 -webkit-text-size-adjust:none;    font-weight: 300;}
ol,ul{margin: 0; padding: 0;}
ul,li{list-style: none;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;} 
a{text-decoration: none; background-color: transparent;}
a,button{cursor: pointer;}
a:active,a:hover,button,input,select,textarea{outline: 0;}
button{border: 0;background-color: transparent;}
img{border: 0;}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
em,address{font-style: normal;}
.clearfix{zoom: 1;}
.clearfix:after{
    display: block;
    content: '';
    clear: both;
    visibility: hidden;
    height: 0;
}
.left{
    float: left;
}
.contactNumber{
	float: right;
}
.right{
    float: right;
}
.weixin {
	height:32px;
	width:158px;
	position: relative;
	float: left;
	margin-left:120px;
}
.moren{
	display: inline-block;
	background:url(../img/moren.png);
	height:26px;
	width:26px;
	position: absolute;
	top:0;
	left:0;
	z-index:100;
}
.morenRed{
	display: block;
	background: url(../img/kefuic.png);
	height:26px;
	width:26px;
	position: absolute;
	top:0;
	left:0;
	display: none;

}
/* .moren:hover{

	background: url(../img/kefuic.png);

} */
.kefu{
	position: absolute;
	top:0;
	right:0;
	
}

 .erweima{
	position: absolute;
	top:0;
	right:0;
z-index:100;
display: none;

}
/*主体css*/
header{
	padding: 15px 0;
}
.container{
	width: 1280px;
    /*width: 100%;*/
	margin: 0 auto;
}
.head_logo{
	width: 230px;
	margin-left: 70px;
}
.head_title{
	width: 400px;
	/*text-align: center;*/
	color: #ef5344;
	font-size: 36px;
	line-height: 1;
	padding-top: 46px;
    padding-left: 30px;
}
.head_contact{
	/*width: 220px;*/
	color: #555;
	text-align: center;
	margin-top: 10px;
}
.head_phone{
	font-size: 24px;
	padding-right: 20px;
	
}
.head_phone span{
	vertical-align: super;
}
.head_time{
	font-size: 18px;
	margin-top: 10px;
}
.mycolor1
{
    background-color: #ff6d66;
}
.box1{
	background-color: #ff6d66;
	padding: 48.5px 0;
    width: 100%;
}
.box1_title{
	color: #fff;
	font-size: 40px;
	line-height: 1;
	margin: 50px auto auto 80px;
	width: 624px;
}
.box1_content{
	font-size: 18px;
	line-height: 1.6;
	color: #fff;
	margin: 35px auto auto 80px;
	width: 800px;
	letter-spacing: 2.7px;
}
.teldisplay{
	display: inline-block;
	border-radius: 30px;
	/**background-color: transparent;
	box-shadow: 0 0 15px rgba(0,0,0,.5);**/
	margin: -100px 120px auto auto;
}
.box2{
	padding: 45px 0;
}
.box2 span{
	color: #333333;
	font-size: 28px;
	line-height: 2.57;
	margin-left: 30px;
	display: inline-block;
}
.box2_ico{
	width: 72px;
	height: 52px;
	border-radius: 50%;
	background-color: #3bba99;
	display: inline-block;
	text-align: center;
	padding: 10px 0;
}
.box2_ico .imga{
	margin-top: -10px;
}
.box2_t1{
	margin-left: 115px;
}
.box2_t2,.box2_t3,.box2_t4{
	margin-left: 50px;
}
.lightred{
	/*color: #ef5344;*/
    color: #ff6d66;
}
.lightyellow{
	/*color: #ffac47;*/
    color: #ff6d66;
}
.lightyellow2{
    color: #ffc800;
    font-size: 24px;
}
.lightblack2{
	color: #5a5a5a;
    font-size: 20px;
    display: block;
    margin-top: 10px;
}
.mycolor2
{
    background-color: #a0d468;
}
.box3{
	background-color: #a0d468;
	padding: 48px 0 37px 0;
    
}
.box3_title{
	width: 249px;
	height: 64px;
	margin: 0 auto auto 30px;
	background: url(../img/bg.png) center no-repeat;
	font-size: 28px;
	line-height: 2.3;
	/*text-align: center;*/
    padding-left: 95px;
    color: #ffffff;
	font-weight:bold;
	letter-spacing:2px;
}
.box3_sp{
    margin: 75px 0 0 80px;
    font-size: 18px;
    color: #5a5a5a;
	width: 700px;
	letter-spacing: 2.7px;
	font-weight:360;
	line-height: 1.6;
	display: block;
}
.box3_sp_sp{
    color: #ff6d66;
}
.box3_content{
	/*color: #333;*/
    color: #ffffff;
	font-size: 18px;
	line-height: 1.6;
	letter-spacing: 2.7px;
	margin: 75px auto auto 80px;
	width: 800px;
}
.text_div{
	font-size: 14px;
}

.box3_foot{
	width: 800px;
	margin: 0 auto auto 80px;
}
.box3_foot li{
	margin-top: 70px;
}
.box3_foot li:nth-of-type(odd){
	float: left;
	width: 60%;
}
.box3_foot li:nth-of-type(even){
	float: left;
	width: 40%;
}
.box3_ico{
	float: left;
	width: 48px;
	height: 48px;
    margin-top: -5px;
}
.box3_ico+div{
	float: left;
	margin-left: 15px;
}
.box3_ico+div .lightred,.box3_ico+div .lightyellow{
	font-size: 24px;
	display: block;
	margin-top: -10px;
}
.mylightred{
    font-size: 24px;
    display: block;
    /*margin-top: -10px;*/
    color: #ff6d66;
}
.mylightblack{
    font-size: 18px;
    display: block;
    margin-top: 10px;
    color: #5a5a5a;
    line-height: 28px;
}
.box3_ico+div .lightblack{
	font-size: 18px;
	display: block;
	margin-top: 10px;
    color: #ffffff;
}
.box3_right{
	display: inline-block;
	margin-top: -200px;
}
.box4{
	padding: 50px 0 42px 0;
	font-size:18px;
}
.box4_foot{
    width: 800px;
    margin: 0 auto auto 80px;
}
.box4_foot li{
    margin-top: 70px;
}
.box4_foot li:nth-child(1){
    float: left;
    width: 80%;
}
.box4_foot li:nth-child(2){
    float: left;
    width: 60%;
}
.box4_foot li:nth-child(3){
    float: left;
    width: 40%;
}
.box4_ico{
    float: left;
    width: 48px;
    height: 48px;
    margin-top: 20px;
}
.box4_ico2{
    float: left;
    width: 48px;
    height: 48px;
    margin-top: 10px;
}
.box4_ico+div{
    float: left;
    margin-left: 15px;
}
.box4_ico2+div{
    float: left;
    margin-left: 15px;
}
.box4_content{
	margin: 40px 80px 0;
}
.box4_content li{
	width: 25%;
	float: left;
	text-align: center;
}
.box4_right_right{
    display: inline-block;
    margin-bottom: 50px;
}
.today{
	font-size: 26px;
	color: #333;
	line-height: 1.5;
    padding-top: 30px;
}
.locktoday,.todaymoney{
	font-size: 20px;
	color: #5a5a5a;
	line-height: 1.2;
    padding-top: 25px;
}
.box4_footl{
	float: left;
	margin: 70px auto auto 100px;
}
.box4_footm{
	float: left;
	margin: 70px auto auto 145px;
}
.box4_footr{
	margin: 30px auto auto 140px;
}
.mycolor3
{
    background-color: #5c9dec;
}
.box_oa{
	width:100%;
	padding: 50px 0 42px 0;
	background-color:#68d2c6;
	
}
.box_oa .content{
	color: #ffffff;
	font-size: 18px;
	line-height: 1.6;
	letter-spacing: 2.7px;
	margin: 60px auto auto 80px;
	width: 800px;
	font-weight:390;
}
.box_oa .foot{
	width: 800px;
	margin: 0 auto auto 80px;
	font-size:18px;
}
.box_oa .foot li{
	margin-top: 70px;
	width:300px;
}
.box_oa .foot li .two_div{
	margin-r:55px;
}
.box_oa .foot li .ico{
	float: left;
    width: 48px;
    height: 48px;
	margin-top:5px;
}
.box_oa .foot .lightred{
	font-size: 24px;
    display: block;
    margin-top: -10px;
	font-weight:300;
	line-height: 60px;
	margin-top: 0;
}
.box_oa .foot .lightblack{
	font-size: 18px;
    display: block;
    margin-top: 10px;
    color: #ffffff;
	font-weight:300;
}
.box5{
	background-color: #53c1f3;
	padding: 60px 0;
    width: 100%;
}
.box5_content{
	width: 700px;
	margin-left: 80px;
}
.box5_content li{
	width: 50%;
	float: left;
	margin-top: 40px;
}
.box5_content li:last-of-type{
	width: 100%;
}
.box5_content li div{
	float: left;
	width: 58px;
	height: 58px;
	border-radius: 50%;
	background-color: #fff;
	color: #ffb6b0;
	font-size: 48px;
	line-height: 1.3;
	text-align: center;
}
.box5_content li span{
	font-size: 28px;
	margin-left: 10px;
	color: #ffffff;
	line-height: 2.0;
}
.box5_right{
	margin-right: 75px;
}
.box6{
	padding: 48px 0 30px 0;
}
.box6_title{
	width: 120px;
	line-height: 1;
	font-size: 28px;
	color: #5a5a5a;
	margin: 0 auto;
	position: relative;
	text-align: center;
}
.box6_title:before,.box6_title:after{
	content: '';
	width: 193px;
	height: 1px;
	background-color: #b3b3b3;
	top: 13px;
	position: absolute;
}
.box6_title:before{
	right: 145px;
}
.box6_title:after{
	left: 145px;
}
/*.box6_foot{
	margin: 60px auto auto;
	display: block;
}
.box6_ali{
	margin-left:82px;
	margin-top:45px;
}*/
.box6_foot{
	margin: 60px auto auto;
	padding-left:10px;
}
.box7{
	padding: 75px 0;
	background-color: #ffffff;
}
.box7_l{
	float: left;
	width: 659px;
	border-right: 1px solid #b3b3b3;
	margin-left: 80px;
}
.box7_ico{
	width: 58px;
	height: 58px;
	float: left;
}
.box7_ico+div{
	float: left;
	margin-left: 27px;
	font-size: 20px;
	color: #333;
}
.box7_ico+div span{
	display: block;
	line-height: 1.5;
    font-size: 20px;
}
.box7_r{
	float: left;
	margin: 0px auto auto 70px;
}
.box7_foot{
	text-align: center;
	font-size: 18px;
	line-height: 1;
	color: #5a5a5a;
	margin: 80px auto 0;
	margin-bottom: 200px;
}
.box7_foot span{
	display: inline-block;
	width: 20px;
	border-radius: 50%;
	background-color: #ff6d66;
	margin-right: 10px;
    margin-top: -10px;
    color: #ffffff;
}
.mytishi
{
    display: inline-block;
    margin-right: 5px;
}

footer{
	/*padding: 20px 0 0 0;*/
	/*background-color: rgba(51,51,51,.5);*/
    background-color: #2d324e;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
footer img{
	vertical-align: top;
	margin: 0;
	float: left;
	display: inline-block;
}
footer .ding{
	margin-top: 25px;
    margin-left: 85px;
}
footer .wu{
	margin: 25px 0 0 40px;
}
footer .f43{
	margin-left: 60px;
    text-align: center;
    display: inline-block;
    /*margin-top: -10px;*/
}
footer .andorid{
	margin: 25px 0 0 60px;
}
footer .ios{
	margin: 25px 0 0 40px;
}
.address{
       margin-bottom: 10px;
	   font-size:20px
}
