
.useright .useright-portfolio-box {
    width: 762px;
    height: 160px;
    margin: 0 auto;
}

.useright .useright-portfolio-box .useright-portfolio-top {
    width: 100%;
    height: 168px;
    /*border-bottom: 1px solid #ccc;*/
}

.useright .useright-portfolio-box .useright-portfolio-top .useright-portfolio-div {
    width: 254px;
    height: 100%;
    float: left;
    padding-top: 20px;
}

.useright .useright-portfolio-box .useright-portfolio-top .useright-portfolio-div .useright-portfolio-title {
    width: 100%;
    height: 60px;
    font-size: 23px;
    color: #fd546c;
    text-align: center;
    line-height: 60px;
}

.useright .useright-portfolio-box .useright-portfolio-top .useright-portfolio-div  .useright-portfolio-ins {
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: #555555;
    text-align: center;
    line-height: 50px;
}

.useright-portfolio-center {
    width: 100%;
    height: 301px;
    margin: 20px auto;
}

.useright-portfolio-center .useright-portfolio-div {
    width: 254px;
    height: 300px;
    float: left;
    border-bottom: 1px solid #f3f3f3;
}

.proTitle {
    width: 100%;
    height: 50px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    font-weight: bold;
}

.current {
    background: #7a3fff;
    border-right: 1px solid #ffffff;
}

.product {
    background: #fe9936;
    border-right: 1px solid #ffffff;
}

.float {
    background: #5bc7ff;
}


.portfolio0-img {
    width: 48px !important;
    height: 40px !important;
    background: url(../bimages/product1.png) 0 0 no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}

.portfolio1-img {
    width: 39px !important;
    height: 38px !important;
    background: url(../bimages/product2.png) 0 0 no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}

.portfolio2-img {
    width: 34px !important;
    height: 40px !important;
    background: url(../bimages/product3.png) 0 0 no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}

.useright-portfolio-div .useright-portfolio-text {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    font-size: 23px;
    font-weight: bold;
    color: #000000;
    line-height: 30px;
    text-align: center;
}

.useright-portfolio-div .useright-portfolio-monery {
    width: 100%;
    height: 30px;
    font-size: 23px;
    color: #f38c30;
    text-align: center;
    line-height: 30px;
    margin-top: 31px;
}

.useright-portfolio-div .useright-portfolio-info {
    width: 100%;
    height: 20px;
    font-size: 16px;
    color: #cacaca;
    text-align: center;
    line-height: 20px;
    margin-top: 5px;
}

.useright-portfolio-div .useright-portfolio-year {
    width: 100%;
    height: 20px;
    font-size: 16px;
    color: #cacaca;
    text-align: center;
    line-height: 20px;
    margin-top: 10px;
}

.invest-amount {
    width: 100%;
    height: 100px !important;
    margin-top: 20px;
}

.useright-portfolio-div .invest-prod {
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    font-weight: bold;
    color: #fd546c;
}

.useright-portfolio-div .invest-prod a {
    font-size: 16px;
    color: #555555;
}

.useright-portfolio-div .invest-prod-text {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #555555;
}

.prod-left {
    width: 127px;
    height: 50px;
    float: left;
}

.prod-center {
    width: 254px;
    height: 50px;
}

.prod-right {
    width: 127px;
    height: 50px;
    float: left;
}

.prod-top {
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    text-align: center;
    color: #fd546c;
}

.prod-bottom {
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    text-align: center;
    color: #555555;
}

.prod-content {
    width: 100%;
    height: 50px;
    position: relative;
}

.prod-btn {
    width: 100%;
    height: 20px;
    margin: 0 auto;
    margin-top: 36px;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
}

.prod-btn a {
    color: #1b6bff;
}

.prod-btn-div {
    width: 550px;
    height: 44px;
    margin: 0 auto;
    margin-top: 40px;
}

.prodrech {
    width: 213px;
    height: 100%;
    background: #fd546c;
    color: #ffffff;
    line-height: 44px;
    text-align: center;
    float: left;
    border-radius: 5px;
}

.prodwith {
    width: 213px;
    height: 100%;
    color: #fd546c;
    line-height: 44px;
    text-align: center;
    float: right;
    border: 1px solid #fd546c;
    border-radius: 5px;
}

.proRecord {
    width: 100%;
    height: 50px;
    background: #fe9936;
    position: relative;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
}

.proRecord .returnPage {
    width: auto;
    height: 100%;
    line-height: 50px;
    float: left;
    margin-left: 20px;
    font-size: 14px;
}

.proRecord .returnPage a {
    color: #ffffff;
}

.proRecord-center {
    width: 774px;
    height: 50px;
    margin: 20px auto;
}

.proRecord-center .due {
    width: 70px;
    height: 100%;
    font-size: 14px;
    float: left;
    text-align: center;
    line-height: 50px;
    border: 1px solid #ff791f;
    color: #555555;
}

.profull {
   background: #ff791f;
    color: #ffffff !important;
}

.prodContent {
    width: 774px;
    height: 600px;
    margin: 0 auto;
}

.prodContent .prod-title1 {
    width: 100%;
    height: 50px;
}

.prodContent .prod-title1 div {
    width: 129px;
    height: 50px;
    border-right: 1px solid #ffffff;
    font-size: 14px;
    background: #b9b9b9;
    float: left;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
}

.prodContent .prod-title1 div:last-child {
    border-right: none;
}

.proTable{
    width: 100%;
    height: 550px;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: auto;
}

.proNoTable {
    width: 100%;
    height: 550px;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: auto;
}

.pro-table table{
    width: 100%;
    height: auto;
}

.pro-table table tr {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #b9b9b9;
    position: relative;

}

.pro-table table tr:last-child {
    border-bottom:none;
}

.pro-table table tr td {
    width: 129px;
    height: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: inherit;
    display: block;
    float: left;
    color: #555555;
    font-size: 14px;
}

.pro-table table tr td div {
    width: 100%;
    height: auto;
    line-height: 20px;
}

.pro-table table tr .firstPod {
    width: 130px;
    height: auto;
}

.pro-table table tr .lastPod {
    width: 100px;
    height: auto;
}

.pro-table table tr .prodMonery {
    color: #fd546c;
}

.useBtn {
    color: #1b6bff;
}

.afterPro table tr td {
    color: #b9b9b9;
}

.afterPro table tr {
    border-bottom: 1px solid #b9b9b9;
}

.proAlert-box {
    width: 100%;
    height: 100%;
}

.proAlert-box .proAlert-box-background {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

.proAlert-box .proAlert-div {
    width: 750px;
    height: 600px;
    background: #ffffff;
    position: fixed;
    top: 13%;
    left: 30%;
    z-index: 10001;
}

.proAlert-box .proAlert-div .proalClose {
    width: 25px;
    height: 25px;
    background: url(../bimages/pro/invalid-name@3x.png) 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    top: -50px;
}

.proAlert-box .proAlert-div .proAlert-title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #ff791f;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.proAlert-box .proAlert-div .proAlertContent {
    width: 730px;
    height: 400px;
    /*background: red;*/
    margin: 0 auto;
    margin-top: 20px;
    overflow: auto;
}

.proAlert-box .proAlert-div .pro-alert-instruction {
    width: 730px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-bottom: 1px solid #b9b9b9;
    margin: 0 auto;
    margin-top: 10px;
    color: #555555;
    text-align: center;
}

.proAlert-box .proAlert-div .pro-alert-amount {
    width: 730px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    color: #555555;
    margin-top: 10px;
}

.proAlert-box .proAlert-div .pro-alert-amount span{
    color: #fd546c;
}

.proAlert-box .proAlert-div .proAlertBtn {
    width: 200px;
    height: 30px;
    display: block;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    background: #fd546c;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 5px;
}

.proalCardBox {
    width: 350px;
    height: 150px;
    float: left;
    margin-top: 20px;
}

.proalCardIcon0 {
    width: 340px;
    height: 130px;
    background: url(../bimages/pro/noCoupon.png) 0 0 no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}


.proalCardIcon1 {
    width: 340px;
    height: 130px;
    background: url(../bimages/pro/dayCoupon.png) 0 0 no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}

.proalCardIcon2 {
    width: 340px;
    height: 130px;
    background: url(../bimages/pro/quanchengCoupon.png) 0 0 no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}


.proalLeft {
    width: 100px;
    height: 100%;
    float: left;
}

.proalLeft .proalLeft-top {
    width: 100%;
    height: 80px;
    overflow: hidden;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    line-height: 110px;

}

.proalLeft .proalLeft-top a {
    color: #ffffff;
    font-size: 16px;
}

.proalLeft .proalLeft-bottom {
    width: 100%;
    height: 50px;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
}

.proalRight {
    width: 215px;
    height: 100%;
    float: right;
    color: #555555;
    position: relative;
}

.proalRight .proalAddMonery {
    width: 100%;
    height: 26px;
    font-size: 14px;
    text-align: right;
    line-height: 26px;
    padding-right: 20px;
    color: #fd546c;
   margin-top: 10px;
}

.proalRight .proalText {
    width: 100%;
    height: auto;
    text-align: left;
    font-size: 12px;
    line-height: 26px;

}

.proalElect {
    width: 60px;
    height: 60px;
    /*background: url(../bimages/pro/invalid-name.png) 0 0 no-repeat;*/
    /*background-size: 100% 100%;*/
    position: absolute;
    right: 0;
    bottom: 0;
}

.proalElect img {
    width: 100%;
    height: 100%;
}

.proNoData {
    width: 340px;
    height: 130px;
    background: url(../bimages/pro/noCoupon.png) 0 0 no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}

.proNoData div {
    color: #b9b9b9;
}

.proNoData .proalAddMonery {
    color: #b9b9b9;
}

/*活期*/

.proCurrent-title {
    width: 100%;
    height: 50px;
    background: #7a3fff;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    position: relative;
}

.proCurrent-title .returnProCurr {
    width: auto;
    height: 50px;
    float: left;
    margin-left: 20px;
    font-size: 14px;
    line-height: 50px;
    display: block;
    color: #ffffff;
}

.proCurrent-content {
    width: 730px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
}

.proCurrent-content .proCurrent-navigation {
    width: 100%;
    height: 40px;
}

.proCurrent-content .proCurrent-navigation .proCurrent-navigation-left {
    width: auto;
    height: auto;
    float: left;
}

.proCurrent-content .proCurrent-navigation .proCurrent-navigation-left a {
    width: 70px;
    height: 40px;
    line-height: 40px;
    display: block;
    float: left;
    text-align: center;
    color: #555555;
    border: 1px solid #ff791f;
    border-right: none;
}

.proCurrent-content .proCurrent-navigation .proCurrent-navigation-left a:last-child {
    border-right: 1px solid #ff791f;
}

.proCurrent-content .proCurrent-navigation .proCurrent-navigation-left .isclick {
    background: #ff791f;
    color: #ffffff;
}

.proCurrent-content .proCurrent-navigation .proCurrent-navigation-right {
    width: auto;
    height: auto;
    float: right;
}

.proCurrent-content .proCurrent-navigation .proCurrent-navigation-right a {
    width: 70px;
    height: 40px;
    line-height: 40px;
    display: block;
    float: left;
    text-align: center;
    color: #555555;
    border: 1px solid #ff791f;
    border-right:none;
}

.proCurrent-content .proCurrent-navigation .proCurrent-navigation-right a:last-child {
    border-right: 1px solid #ff791f;
}

.proCurrent-content .proCurrent-navigation .proCurrent-navigation-right .isdate {
    background: #ff791f;
    color: #ffffff;
}

.proCurrent-content .proCurrentContent {
    width: 100%;
    height: 530px;
    margin-top: 20px;
    border: 1px solid #b9b9b9;
}

.proCurrent-content .prodCurrent-bottom {
    width: 600px;
    height: 44px;
    margin: 0 auto;
    margin-top: 30px;
}

.proCurrent-content .prodCurrent-bottom a {
    width: 200px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 18px;
    display: block;
}

.proCurrRedemption {
    background: #ffffff;
    border: 1px solid #fd546c;
    color: #fd546c;
    border-radius: 10px;
    /*float: left;*/
}

.proCurrBuy {
    color: #ffffff;
    background: #fd546c;
    border-radius: 10px;
    float: right;
}

.proCurrentContent .proCurrentContentTitle-Box {
    width: 100%;
    height: 40px;
    background: #b9b9b9;
    color: #ffffff;
}

.proCurrentContent .proCurrentContentTitle-Box .proCurrentContentTitle-text {
    width: 360px;
    height: 40px;
    float: left;
    line-height: 40px;
    text-align: center;
}

.proCurrentContent .proCurrentContentTitle-Box .proCurrentContentTitle-text:first-child {
    border-right: 1px solid #ffffff;
}

.proCurrentContent .proCurrentRecord {
    width: 700px;
    height: 450px;
    margin: 0 auto;
    /*background: gold;*/
    margin-top: 15px;
    overflow: auto;
}

.proCurrentContent .proCurrentRecord table {
    width: 100%;
    height: auto;
}

.proCurrentContent .proCurrentRecord table tr {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #b9b9b9;
    margin-top: 20px;
}

.proCurrentContent .proCurrentRecord table tr td {
    width: 300px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #555555;
    font-size: 14px;
}

.proCurrentContent .proCurrentRecord table tr td:last-child {
    color: #fd546c;
}

.proCurrentContent .proCurrentRecord table tr:last-child {
    border-bottom: none;
}

.proCurrentContent .proCurrentRecord-text {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 450px;
    font-size: 36px;
    color: #b9b9b9;
    font-weight: bold;
}

.proRedBox {
    width: 100%;
    height: 100%;
}

.proRedBox .proRedBox-background {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    background: rgba(0,0,0,.6);
    top: 0;
}

.proRedBox .proRedBox-div {
    width: 430px;
    height: 260px;
    background: #ffffff;
    position: fixed;
    z-index: 10001;
    top: 40%;
    left: 40%;
}

.proRedBox .proRedBox-div .proRedClose {
    width: 25px;
    height: 25px;
    background: url(../bimages/pro/invalid-name@3x.png) 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    top: -50px;
    display: block;
}

.proRedBox .proRedBox-div .proRedTitle {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #ff791f;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.proRedBox .proRedBox-div .proRedContent {
    width: 370px;
    height: 150px;
    /*background: red;*/
    margin: 0 auto;
}

.proRedBox .proRedBox-div .proRedContent .proRedContentText1 {
    width: 100%;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    color: #ff791f;
    line-height: 60px;
    text-align: center;
    margin-top: 10px;
}

.proRedBox .proRedBox-div .proRedContent .proRedContentText2 {
    width: 100%;
    height: 40px;
    font-size: 14px;
    color: #555555;
    line-height: 40px;
    text-align: center;
    /*margin-top: 20px;*/
}

.proRedBox .proRedBox-div .proRedBtn {
    width: 220px;
    height: 40px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    background: #fd546c;
    display: block;
    border-radius: 5px;
}

.proRedBox .proRedBox-div .proRedContent .proRedAmount {
    width: 100%;
    height: 30px;
    color: #fd546c;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    margin-top: 10px;
}

.proRedBox .proRedBox-div .proRedContent .proRed-input {
    width: 300px;
    height: 40px;
    font-size: 14px;
    margin: 0 auto;
    line-height: 40px;
    border: 1px solid #555555;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.proRedBox .proRedBox-div .proRedContent .proRed-input .proRedText {
    width: 60px;
    height: 40px;
    float: left;
    margin-left: 20px;
    color: #555555;
}

.proRedBox .proRedBox-div .proRedContent .proRed-input .proRed-input-div {
    width: 160px;
    height: 40px;
    float: left;
    margin-left: 10px;
    color: #b9b9b9;
}