
.index-center-content {
    height:900px
}


.introduced-content-header {
    width: 90%;
}

.pt-fg {
 margin-top: 0;
}

.problem-img01 {
    margin-top: 15px;
}

.problem-div1 {
    /*height: 60px;*/
    padding-top: 30px;
}

.index-problem-choose {
    width: 100%;
}


.problemHeight {
    height:60px;
   padding-top: 10px;
}

.problemImg {
    float: right;
    margin-right: 40px;
}

.proheight {
    height: 1150px;
}

.pt-fg {
    margin-bottom: 0;
}
.div2-problem {
    width: 90%;
}

hr {
    color:#c6c6c6
}
.problem7 {
    margin-bottom: 30px;
}

.pheight {
    height: 110%;
}


.div1-problem {
    font-size: 12px;
    color: #323232;

}

